<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>21G115</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>VoodooSerial</string>
	<key>CFBundleIdentifier</key>
	<string>com.xavier.VoodooSerial</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>VoodooSerial</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13F100</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.3</string>
	<key>DTSDKBuild</key>
	<string>21E226</string>
	<key>DTSDKName</key>
	<string>macosx12.3</string>
	<key>DTXcode</key>
	<string>1341</string>
	<key>DTXcodeBuild</key>
	<string>13F100</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>VoodooI2CControllerDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.xavier.VoodooSerial</string>
			<key>IOClass</key>
			<string>VoodooI2CControllerDriver</string>
			<key>IOProbeScore</key>
			<integer>9999</integer>
			<key>IOProviderClass</key>
			<string>VoodooI2CControllerNub</string>
		</dict>
		<key>VoodooI2CPCIController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.xavier.VoodooSerial</string>
			<key>IOClass</key>
			<string>VoodooI2CPCIController</string>
			<key>IOPCIMatch</key>
			<string>0x9d608086&amp;0xFFFCFFFF 0xa1608086&amp;0xFFFCFFFF 0x9de88086&amp;0xFFFCFFFF 0xa3688086&amp;0xFFFCFFFF</string>
			<key>IOProbeScore</key>
			<integer>9999</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>VoodooI2CPCILakeController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.xavier.VoodooSerial</string>
			<key>IOClass</key>
			<string>VoodooI2CPCILakeController</string>
			<key>IOPCIMatch</key>
			<string>0x06e88086&amp;0xFFFCFFFF 0x02e88086&amp;0xFFFCFFFF 0x34e88086&amp;0xFFFCFFFF 0x34c58086&amp;0xFFFCFFFF</string>
			<key>IOProbeScore</key>
			<integer>9999</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>VoodooUARTController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.xavier.VoodooSerial</string>
			<key>IOClass</key>
			<string>VoodooUARTController</string>
			<key>IOPCIMatch</key>
			<string>0x34a88086 0x9d278086</string>
			<key>IOProbeScore</key>
			<integer>400</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 Xia Shangning. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.alexandred.VoodooI2CServices</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.4</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>14.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>14.0</string>
		<key>com.apple.kpi.mach</key>
		<string>13.0</string>
		<key>org.coolstar.VoodooGPIO</key>
		<string>1.2</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
